<h1>Read all about them here!</h1>
    
    <ul class="list-group">
        <li class="row list-group-item" ng-repeat="post in posts | orderBy: '-createdAt'">
            <span class="col-xs-3">{{post.author}}</span> 
            <span class="col-xs-3">{{post.title}}</span>
            <span class="col-xs-3">{{post.createdAt | date:'short'}}</span>
            <!--<span class="col-xs-1">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#contentblock" aria-expanded="false"                 aria-controls="contentblock">
                READ MORE!
              </button>
                <div class="collapse" id="contentblock">
                    <div class="card card-block">
                        {{post.content}}
                    </div>
                </div>
            </span>
            <span class="col-xs-1"></span>-->
                
            <button ng-click="navigateToSingle(post.id)" class="col-xs-3" id="readme">Read Post</button>
            
        </li>
    </ul>
