<h1>Read all about them here!</h1>
    
    <ul class="list-group">
        <li class="row list-group-item" ng-repeat="post in posts">
            <a class="col-sm-3" ng-href="#">{{post.author}}</a> 
            <a class="col-sm-3" ng-href="#">{{post.title}}</a>
            <a class="col-sm-3" ng-href="#">{{post.createdAt | date:'medium'}}</a>
            <button class="col-sm-3" data-toggle="collapse" data-target="#testing"=>Read More!</button>
                    <div class="collapse" id="testing">
                        <div class="card card-block">
                            {{post.content}}
                        </div>
                    </div>
        </li>
    </ul>
